*{
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar {display:none}
.page-box{
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
}

.no-data{
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666666;
  font-size: 30px;
}