.search-box{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    border: solid 1px #eaeaea;
    box-sizing: border-box;
    padding: 15px;
}
.search-box-item{
    width: 30%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-right: 1%;
    span{
        margin-right: 10px;
    }
    .for-item{
        flex-grow: 1;
    }
}