.search-box{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    border: solid 1px #eaeaea;
    box-sizing: border-box;
    padding: 15px;
}
.search-box-item{
    width: 28%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-right: 1%;
    margin-bottom: 10px;
    span{
        margin: 0 10px;
    }
    .for-item{
        flex-grow: 1;
    }
    .w-230{
        max-width: 330px;
    }
}
.table-box{
    width: 100%;
}
.w-30{
    width: 30px;
    display: inline-block;
}
.tool{
    span{
        padding: 0 3px;
        cursor: pointer;
    }
}
.flex-l{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.list-lay-out{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-lay-content{
    width:800px;
    max-height: 60vh;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 10px;
}
.lay-name-box{
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.lay-list-cont{
    width: 100%;
    max-height: calc(100% - 80px);
    overflow: auto;
    min-height: 200px;
}
.lay-tool-box{
    height: 42px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .jiange {
       display: inline-block;
       width: 15px;
    }
}
.lay-list-item{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .item-lable{
        width: 120px;
        display: inline-block;
        text-align: right;
    }
    .lay-input-box{
        width: calc(100% - 140px);
        margin-left: 10px;
    }
}
.show-can{
    width: 100%;
    margin: 10px 0;
    font-size: 14px;
}